// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-page{

  .jumbotron{
    position: relative;

    .btn.absoluted{
      position: absolute;
      top: 25px;

      &.new-job{
        left: 25px;
      }

      &.edit-jobs{
        right: 25px;
      }
    }

    .dashboard-header{
      margin-bottom: 40px;
    }

    .dashboard-info{
      margin-top: 10px;
      margin-bottom: 40px;

      .dashboard-info-top{
        text-align: left;

        .job-title{
          color: white;
          display: inline-block;
        }

        .edit-btn{
          vertical-align: super;
          margin-left: 15px;
        }

      }


      .box{
        float: left;
        width: 25%;
        background-color: white;
        color: black;
        border-right: 3px solid black;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        padding: 15px;

        &.first{
          border-left: 3px solid black;
        }

        h2{
          margin-top: 5px;
          font-size: 26px;
        }

        .box-value{
          font-size: 34px;
        }
      }
    }
  }
}