header {
  background-color: $blue;
  padding: 0;

  .navbar{
    margin-bottom: 0;

    .navbar-header{
      a{
        color: $white;
        padding: 25px 15px;
        height: auto;
      }
    }

    #navbar{
      max-width: 80%;
      float: left;

      .nav{
        a {
          color: $white;
          padding: 25px 15px;

          &:hover, &:focus {
            background-color: $dark-blue;
          }
        }
      }
    }

    .links-right{
      float: right;
      margin-top: 17px;
    }
  }
}